* {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: Lato;
}


@media (orientation: landscape) {
    body {
        background-color: black;
    }

    body * {
        display: none !important;
    }
}

* {
    margin: 0;
    padding: 0;
}

#page {
    display: grid;

    grid-template:
            100px
            1fr
            20px
            20px
            min-content
            20px
            / 1fr;

    grid-template-areas:
            "banner"
            "qrcode"
            "dots"
            "."
            "keypad";

    height: 100vh;
}

#banner {
    grid-area: banner;

    display: grid;
    grid-template-areas:
            "logo title";

    border-bottom: 1px solid #2980d3;
    overflow-y: hidden;
}

#logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
}

#logo img{
    width: 15vw;
    min-width: 150px;
}

#title {
    color: #777777;
    grid-area: title;
    justify-self: center;
    align-self: center;
}

#title h1{
    white-space: nowrap;
    font-size: 3.5vw;
}
#title h2{
    white-space: nowrap;
    font-size: 1.75vw;
}

#qrcode {
    grid-area: qrcode;
    justify-items: center;
    width: 100%;
    height: 100%;

}

#qrcode img{
    object-fit: contain;
    height: 100%;
    max-width: 80%;
    margin:auto;
}

#dots {
    grid-area: dots;
    justify-self: center;

    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 2em;
    grid-auto-columns: 20px;

}

#dots > * {
    display: block;
    border: 1px solid #dddddd;
    border-radius: 50%;
}

.dot {
    background-color: #dddddd;
}

#keypad {

    grid-area: keypad;
    justify-self: center;

    display: grid;

    grid-template-columns: 75px 75px 75px;
}

#keypad > * {
    height: 75px;

    font-size: 2em;
    color: #999999;

    border: none;

    text-align: center;
    text-decoration: none;
    cursor: pointer;

    background-color: white;
}

#keypad > *:nth-last-child(1) {
    color: green;
    /*background-color: palegreen;*/
}

#keypad > *:nth-last-child(3) {
    color: red;
    /*background-color: lightpink;*/
}

#records,
#config{
    display: none;
    width: 100vw;
    height: calc(100vh - 100px);
    position: absolute;
    overflow: hidden;
    top: 100px;
    text-align: center;
}
#records{
    background: #8fee8f;
}
#config{
    background: #5dbbe6;
}

#records h1 {
    text-align: center;
}

#records button:first-of-type,
#config button:first-of-type,
#records button:last-of-type{
    position: absolute;
    right: 14px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}


#records button:first-of-type,
#config button:first-of-type{
    color: #999999;
    font-size: 2em;
}
#records button:last-of-type{
    bottom: 14px;
    color: #999999;
    font-size: 4em;

}

#records vax-image:first-of-type img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
#records vax-image:last-of-type img{
    position: relative;
    top: -175px;
}

.field span{
    display: inline-block;
    width: 50%;
}
.field span:first-of-type{
    float: left;
    text-align: right;
}
.field span:last-of-type{
    float: right;
    text-align: left;
}

.field{
    display: block;
    clear: both;
}

#config h1{
    margin-top: 1em;
}

vax-dose div{
    margin-bottom: 0.7em;
}
vax-dose div input,
vax-dose div select{
    width: 200px;
}

vax-input input{
    width: 200px;
}